{% extends "basic_template_with_navbar.html" %}

{% block title %}Мои проекты{% endblock %}

{% block links %}
<link rel="stylesheet" href="../static/css/projects.css">
<script type="module" src="../static/js/projects.js"></script>
{% endblock %}

{% block content %}
<div id="projects">
    <ProjectsComponent></ProjectsComponent>
</div>


<script>
    let item = document.querySelector('#aside-navbar-projects');
    item.classList.remove('white-filled-with-hover');
    item.classList.add('dark-filled');
</script>
{% endblock %}