{% extends "basic_template_with_navbar.html" %}

{% block links %}
<link rel="stylesheet" href="../static/css/project.css">
<script type="module" src="../static/js/project.js"></script>
{% endblock %}

{% block title %}None{% endblock %}

{% block content %}
<section id="project" class="project-card white-filled border-1r">
    <SingleProject project-id="{{ project_id }}"></SingleProject>
</section>

<script>
    let item = document.querySelector('#aside-navbar-projects');
    item.classList.remove('white-filled-with-hover');
    item.classList.add('dark-filled');
</script>
{% endblock %}