{% extends "basic_template.html" %}

{% block links %}
<link rel="stylesheet" href="../static/css/auth_forms.css">
{% endblock %}

{% block content %}

<form action="http://localhost:8000/api/v0/auth/login" method="post" class="auth-form needs-validation white-filled"
      enctype="multipart/form-data">
    <h1>Вход</h1>
    <div>
        Email<br>
        <input v-model="email" name="email" placeholder="Enter email" class="form-control" type="email"/><br>
    </div>
    <div>
        Password<br>
        <input v-model="password" name="password" placeholder="Enter password" class="form-control"
               type="password"/><br>
    </div>
    <button class="form-button primary-filled" @click="sendForm(email, password)">Войти</button>
    <hr width="100%" size="2">
    <a href="/auth/register" class="register-a light-filled">
        Зарегистрироваться
    </a>
    <section class="social-login">
        <a href="" class="yandex-login-a light-filled">
            <div></div>
            <img src="../static/img/yandex_logo.png"
                 style="width: 2rem; height: 2rem; border-radius: 50%; pointer-events: none; margin: 0;"/>
            <div></div>
        </a>
    </section>
</form>
<script type="module" src="../static/js/login.js"></script>
{% endblock %}